PORT=5000
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
FIREBASE_DATABASE_URL=your_firebase_database_url
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
FIREBASE_APP_ID=your_firebase_app_id
FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id

FIREBASE_AUTH_EMAIL=your_firebase_auth_email
FIREBASE_AUTH_PASSWORD=your_firebase_auth_password



 apiKey: "AIzaSyCGBmdxrZB5XeI8s1jBktpym81txAE7ODA",
  authDomain: "hydroponicmonitoring-31595.firebaseapp.com",
  databaseURL: "https://hydroponicmonitoring-31595-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "hydroponicmonitoring-31595",
  storageBucket: "hydroponicmonitoring-31595.firebasestorage.app",
  messagingSenderId: "414734302006",
  appId: "1:414734302006:web:2a5c90b36e100c5e1ed197",
  measurementId: "G-HB9R9LCKP7"